
*{
    /* margin: 0px;
    padding: 0px; */
    font-family: sans-serif;
}


#box1{
    border: 2px solid black;
    height: 130px;
    width: 400px;
}

#likebtn {
    background-color: gold;
    border: 2px solid black;
    width: 45px;
    height: 25px;
    box-shadow: 3px 3px black;
}

#line1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#line2{
    padding-left: 35px;
    padding-right: 35px;
}