h1{
    background-color: black;
    color: white;
    font-family: sans-serif;
}
h1 > span{
    color: turquoise;
}
.purple{
    background-color: rebeccapurple;
    color: white;
    text-align: center;
    font-style:italic;
    font-weight: lighter;
    font-family: sans-serif;

}
h2{
    background-color: lightblue;
    color: rebeccapurple;
    text-align: right;
    text-decoration: underline ;
    font-family: sans-serif;
}